<div class="container">
    <div class="row">
        <div id="backlog" class="col-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                <h5 class="card-title">{{.card.Title}}</h5>
                <p class="card-text">{{.card.Description}}</p>
                <hr>
                <h5>Tasks</h5>
                <ul>
                {{range .card.Tasks}}
                    <li>{{.Description}}</li>
                {{end}}
                </ul>
                </div>
            </div>
        </div>
    </div>
</div>
